
.hero-block__container {
  width: 100%;
  margin: 0 auto;
  padding: 90px 19px 85px;
  background-color: @bg-hero;
  background-image:
      url("/img/sedona_decor.svg"),
      url("/img/welcome_to_sedona__background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center center;
  box-sizing: border-box;
}

.hero-block__image {
  display: block;
  margin: 0 auto;
}
