.inner-header-form__image {
  display: block;
}

.inner-header-form__wrapper {
  padding: 36px 20px 28px;
}

.inner-header-form__title {
  .margin(0px, 24px);
  .font(18px, 26px, 700);
  .color-title();
  text-align: center;
  text-transform: uppercase;
}

.inner-header-form__intro {
  .margin(0px, 0px);
  .font(14px, 21px, 400);
  .color-description();
  text-align: center;
  text-transform: uppercase;
}
