.inner-header-photo__image {
  display: block;
}

.inner-header-photo__wrapper {
  padding: 30px 20px 16px;
}

.inner-header-photo__title {
  .margin(0px, 24px);
  .font(18px, 26px, 700);
  color: @color-title;
  text-align: center;
  text-transform: uppercase;
}

.inner-header-photo__intro {
  .margin(0px, 0px);
  .font(14px, 21px, 400);
  color: @color-description;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .inner-header-photo__wrapper {
    padding: 66px 155px 67px;
  }

  .inner-header-photo__title {
    .margin(0px, 24px);
    .font(30px, 26px, 700);
}
}

@media (min-width: @desktop-width) {
  .inner-header-photo__wrapper {
    padding: 104px 372px 69px 370px;
  }
}
