.inner-header-form__container {
  height: 158px;
  width: 100%;
  position: relative;
  padding-bottom: 67px;
  padding-top: 52px;
  background-color: #E6E6FA;
  background-image: url("../img/sedona_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom right;
  background-size: cover, cover;
  box-sizing: border-box;

  &::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
    content: "";
  }
}

.inner-header-form__image {
  display: block;
  margin: 0 auto;
}

.inner-header-form__text-wrapper {
  padding-top: 36px;
  padding-bottom: 28px;
}

.inner-header-form__title {
  .margin(0px, 24px);
  .font(18px, 26px, 700);
  color: @color-title;
  text-align: center;
  text-transform: uppercase;
}

.inner-header-form__intro {
  .margin(0px, 0px);
  .font(14px, 21px, 400);
  color: @color-description;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .inner-header-form__container {
    height: 290px;
    padding-top: 95px;
    padding-bottom: 117.4px;
 }

 .inner-header-form__text-wrapper {
    padding: 65px 165px 102px;
}

.inner-header-form__title {
  .margin(0px, 20px);
  .font(30px, 26px, 700);
}
}

@media (min-width: @desktop-width) {
  .inner-header-form__container {
    height: 301px;
    padding-top: 101px;
    padding-bottom: 120.2px;
  }

  .inner-header-form__text-wrapper {
    padding: 115px 382px 66px 382px;
  }

  .inner-header-form__title {
    .margin(0px, 34px);
    .font(30px, 26px, 700);
  }

}
