.page-nav {
  position: relative;
  min-height: 56px;
}

//Конпка и ее состояния

.page-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 68px;
  height: 56px;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 25px;
  width: 22.9px;
  height: 4px;
  background-color: @blue;
  box-shadow: 0 9px 0 0 @blue, 0 18px 0 0 @blue;
}

.page-nav--photo.page-nav--closed .page-nav__toggle::before {
  content: "";
  top: 17px;
}

.page-nav--form.page-nav--closed .page-nav__toggle::before {
  content: "";
  top: 16px;
}

.page-nav--closed .page-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 5px 0 0 rgba(129, 179, 210, 0.6), 0 10px 0 0 gba(129, 179, 210, 0.6);
}

.page-nav--closed .page-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 5px 0 0 rgba(129, 179, 210, 0.3), 0 10px 0 0 rgba(129, 179, 210, 0.3);
}

.page-nav--opened .page-nav__toggle {
  top: 0;
  right: 0;
  background-color: @blue;
  background-image: url("../img/icons/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;

  &:hover,
  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:active {
    opacity: 0.3;
  }
}

.page-nav__list {
  .list-style();
}

.page-nav__link {
  display: block;
  padding-left: 68px;
  padding-right: 68px;
  padding-top: 18px;
  padding-bottom: 12px;
  .font(18px, 26px, 700);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @blue;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    opacity: 0.3;
  }
}

@media (max-width: @mobile-width-only) {
  .page-nav--closed .page-nav__item {
    display: none;
  }

  .page-nav--opened .page-nav__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }

  .page-nav--nojs .page-nav__toggle {
    display: none;
  }

  .page-nav--nojs .page-nav__container {
    position: static;
  }

  .page-nav--nojs .page-nav__item {
    display: block;
  }

  .page-nav--nojs .page-nav__link {
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 18px;
    padding-bottom: 12px;
  }
}

@media (min-width: @tablet-width) {
  .page-nav {
    background-color: #ffffff;
  }

  .page-nav__container {
    margin: 0 0;
  }

  .page-nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
  }

  .page-nav__item:nth-child(3) {
    grid-column: 4/5;
  }

  .page-nav__item:nth-child(4) {
    grid-column: 5/6;
  }

  .page-nav__link {
    padding: 0;
    padding-top: 18px;
    padding-bottom: 17px;
    min-width: 153px;
    .font(14px, 21px, 700);
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;

    &--current {
      color: #766357;
    }

    &:hover {
      color: #81b3d2;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }
  }

  .page-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-nav__container {
    width: 1200px;
  }

  .page-nav__link {
    min-width: 240px;
  }
}
