.search-hotel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 18px 49px 18px;
}

.search-hotel__title {
  .font(21px, 26px, 700);
  color: @color-title;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel__description {
  .margin(0px, 30px);
  .font(14px, 21px, 400);
  color: @color-description;
  text-align: center;
  text-transform: uppercase;
}

.button--search-hotel{
  padding: 16px 49px;
  .font(21px, 26px, 700);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @blue;
}

.map-responsive {
  margin-bottom: 10px;
  overflow: hidden;
}

.map-responsive iframe{
  width: 100%;
  border: none;
  display: block;
}

@media (min-width: @tablet-width) {
  .search-hotel__container {
    padding: 61px 155px 58px;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel__container {
    padding: 61px 371px 66px;
  }
}
