/*
color: @color-title;
color: @color-description;*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../source/fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.page {
  height: 100%;
}
.page__body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.page__container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .page__container {
    width: 768px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 1200px) {
  .page__body {
    background-color: #E7E5E5;
  }
  .page__container {
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
.page-header {
  /* display: flex;
  flex-direction: column;
  */
  position: relative;
  height: 56px;
  background-color: #ffffff;
}
.page-header__logo {
  position: absolute;
  top: 0;
  left: 67px;
  z-index: 1;
}
.page-header__logo-image {
  display: block;
}
@media (min-width: 768px) {
  .page-header__logo {
    top: 0;
    left: 291px;
  }
  page-header-form__container {
    height: 290px;
    padding-top: 95px;
    padding-bottom: 117.4px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    top: 0;
    left: 507px;
  }
  page-header-form__container {
    height: 301px;
    padding-top: 101px;
    padding-bottom: 120.2px;
  }
}
.page-nav {
  position: relative;
  min-height: 56px;
}
.page-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 68px;
  height: 56px;
  padding: 0px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 25px;
  width: 22.9px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
}
.page-nav--closed .page-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 5px 0 0 rgba(129, 179, 210, 0.6), 0 10px 0 0 gba(129, 179, 210, 0.6);
}
.page-nav--closed .page-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 5px 0 0 rgba(129, 179, 210, 0.3), 0 10px 0 0 rgba(129, 179, 210, 0.3);
}
.page-nav--opened .page-nav__toggle {
  background-color: #81B3D2;
}
.page-nav--opened .page-nav__toggle::before,
.page-nav--opened .page-nav__toggle::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 15.8px;
  width: 44px;
  height: 4px;
  background-color: #ffffff;
}
.page-nav--opened .page-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.page-nav--opened .page-nav__toggle::after {
  transform: rotate(-45deg);
}
.page-nav--opened .page-nav__toggle:hover::before,
.page-nav--opened .page-nav__toggle:hover::after {
  background-color: rgba(250, 250, 250, 0.6);
}
.page-nav--opened .page-nav__toggle:active::before,
.page-nav--opened .page-nav__toggle:active::after {
  background-color: rgba(250, 250, 250, 0.3);
}
.page-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-nav__link {
  display: block;
  padding-right: 68px;
  padding-left: 68px;
  padding-top: 17px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81B3D2;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.page-nav__link:hover {
  background-color: #669EC0;
}
.page-nav__link:active {
  background-color: #5496BD;
  opacity: 0.3;
}
@media (max-width: 767px) {
  .page-nav--closed .page-nav__item {
    display: none;
  }
  .page-nav--nojs .page-nav__toggle {
    display: none;
  }
  .page-nav--nojs .page-nav__item {
    display: block;
  }
  .page-nav--nojs .page-nav__link {
    padding-right: 68px;
    padding-left: 68px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .page-nav {
    background-color: #ffffff;
  }
  .page-nav__container {
    margin: 0 0px;
  }
  .page-nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
  }
  .page-nav__item:nth-child(3) {
    grid-column: 4/5;
  }
  .page-nav__item:nth-child(4) {
    grid-column: 5/6;
  }
  .page-nav__link {
    padding: 0px;
    padding-top: 18px;
    padding-bottom: 17px;
    min-width: 153px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
  }
  .page-nav__link--current {
    color: #766357;
  }
  .page-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page-nav__container {
    width: 1200px;
  }
  .page-nav__link {
    min-width: 240px;
  }
}
.main-index {
  background-color: #ffffff;
}
.hero-block__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 90px 19px 85px;
  background-color: #E6E6FA;
  background-image: url("../img/mobile/sedona-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}
.hero-block__container::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
  content: "";
}
@media (min-resolution: 2dppx) {
  background-image: url("../img/mobile/sedona-background-mobile@2x.jpg");
}
.hero-block__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  background-image: url("../img/tablet/sedona-background-tablet.jpg");
}
@media (min-width: 1200px) {
  background-image: url("../img/desktop/sedona-background-desktop.jpg");
}
.advantages__intro-wrapper {
  padding: 32px 18px 32px;
  background-color: #ffffff;
}
.advantages__intro {
  margin: 0px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.advantages__caption {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.advantages__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__item {
  box-sizing: border-box;
}
.advantages__item--with-image {
  background-color: #81B3D2;
}
.advantages__item--without-image {
  background-color: #EEEEEE;
}
.advantages__item--with-image:first-child {
  position: relative;
}
.advantages__item--with-image:first-child::before {
  position: absolute;
  top: -16px;
  left: 0px;
  width: 100%;
  height: 37px;
  background-image: url("../img/advantages-card-triangle.svg");
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
  content: "";
}
.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.advantages__item--with-image:first-child .advantages__text-wrapper {
  padding: 54px 18px 40px;
}
.advantages__item--with-image:nth-child(n+2) .advantages__text-wrapper {
  padding: 37px 18px;
}
.advantages__item--without-image {
  padding-left: 18px;
  padding-right: 18px;
}
.advantages__item--without-image .advantages__text-wrapper {
  padding-top: 26px;
  padding-bottom: 24px;
  border-bottom: 1px solid #D6D6D6;
}
.advantages__item--without-image:last-child .advantages__text-wrapper {
  padding-bottom: 28px;
  border: none;
}
.advantages__title {
  margin: 0px;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.advantages__item--with-image .advantages__title {
  color: #ffffff;
}
.advantages__number {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.advantages__item--with-image .advantages__number {
  color: #ffffff;
}
.advantages__description {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.advantages__item--with-image .advantages__description {
  color: #ffffff;
}
.advantages__image {
  display: block;
  width: 100%;
  height: 260px;
}
.service__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 25px;
  padding-top: 23px;
  padding-bottom: 44px;
  padding-left: 18px;
  padding-right: 18px;
}
.service__text-wrapper {
  padding-top: 9px;
  padding-left: 47px;
}
.service__title {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}
.service__description {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__intro-wrapper {
    padding: 47.5px 124px 55.5px;
  }
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantages__item--with-image {
    grid-column: 1/-1;
  }
  .advantages__item--service {
    grid-column: 1/-1;
  }
  .advantages__item--with-image:first-child::before {
    display: none;
  }
  .advantages__wrapper {
    display: flex;
    flex-direction: row;
  }
  .advantages__item--with-image:first-child .advantages__text-wrapper {
    width: 256px;
    padding: 52px 33px 30px;
  }
  .advantages__item--with-image:nth-child(n+2) .advantages__text-wrapper {
    width: 256px;
    padding: 52px 33px 30px;
  }
  .advantages__item--with-image:nth-child(n+2) .advantages__image {
    order: -1;
  }
  .advantages__item--without-image .advantages__text-wrapper {
    padding: 52px 33px;
    border-bottom: none;
  }
  .service__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    padding: 0px;
  }
  .service__text-wrapper {
    padding: 60px 33px;
  }
  .service__title {
    text-align: center;
  }
  .service__description {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages__intro-wrapper {
    padding: 59px 359px 44px 357px;
  }
  .advantages__item--with-image:first-child .advantages__text-wrapper {
    width: 400px;
    padding: 52px 50px 51px 52px;
  }
  .advantages__item--with-image:nth-child(n+2) .advantages__text-wrapper {
    width: 400px;
    padding: 52px 33px 30px;
  }
  .advantages__item--without-image .advantages__text-wrapper {
    padding: 63px 50px 41px;
  }
  .service__text-wrapper {
    padding: 69px 50px 67px;
  }
}
.search-hotel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 18px 49px 18px;
}
.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.search-hotel__description {
  margin: 0px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.button--search-hotel {
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #81B3D2;
}
.map-responsive {
  margin-bottom: 10px;
  overflow: hidden;
}
.map-responsive iframe {
  width: 100%;
  border: none;
  display: block;
}
@media (min-width: 768px) {
  .search-hotel__container {
    padding: 61px 155px 58px;
  }
}
@media (min-width: 1200px) {
  .search-hotel__container {
    padding: 61px 371px 66px;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28.5px 77px 23px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 76px 36px 45px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 136px 36px 104px;
  }
}
.hashtag {
  margin-bottom: 33.5px;
}
.hashtag__description {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .hashtag {
    margin-bottom: 0;
  }
}
.social {
  width: 156px;
  margin-bottom: 40px;
}
.social__block {
  display: flex;
  flex-wrap: wrap;
  width: 156px;
}
.social__link {
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
}
.social__link:not(:nth-child(3n+3)) {
  margin-right: 6px;
}
@media (min-width: 768px) {
  .social {
    margin-bottom: 0;
  }
}
.copyright__link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
/*form.html*/
.main-inner-form {
  background-color: #ffffff;
}
.inner-header-form__container {
  height: 158px;
  width: 100%;
  position: relative;
  padding-bottom: 67px;
  padding-top: 52px;
  background-color: #E6E6FA;
  background-image: url("../img/sedona_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom right;
  background-size: cover, cover;
  box-sizing: border-box;
}
.inner-header-form__container::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
  content: "";
}
.inner-header-form__image {
  display: block;
  margin: 0 auto;
}
.inner-header-form__text-wrapper {
  padding-top: 36px;
  padding-bottom: 28px;
}
.inner-header-form__title {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.inner-header-form__intro {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .inner-header-form__container {
    height: 290px;
    padding-top: 95px;
    padding-bottom: 117.4px;
  }
  .inner-header-form__text-wrapper {
    padding: 65px 165px 102px;
  }
  .inner-header-form__title {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .inner-header-form__container {
    height: 301px;
    padding-top: 101px;
    padding-bottom: 120.2px;
  }
  .inner-header-form__text-wrapper {
    padding: 115px 382px 66px 382px;
  }
  .inner-header-form__title {
    margin: 0px;
    margin-bottom: 34px;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}
.form-fieldsets {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.fieldset-personal-data {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
}
.fieldset-personal-data__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fieldset-contacts {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
}
.fieldset-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fieldset-impression {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}
.fieldset-impression__list {
  display: grid;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.fieldset-visited {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}
.fieldset-visited__list {
  display: grid;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.fieldset__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.fieldset__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 16px;
  color: #333333;
  text-transform: uppercase;
}
.fieldset__input {
  padding: 16px 16px 16px 16px;
  margin-bottom: 16px;
  width: 280px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  box-sizing: border-box;
}
.fieldset__input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
/*control*/
.control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 46px;
  height: 46px;
  box-sizing: border-box;
}
.control-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.control-mark:hover {
  background-color: #E5E5E5;
}
.control-mark:active {
  background-color: #D5D5D5;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icons/mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before:hover {
  background-image: url("../img/icons/mark-active.svg");
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}
.control-input[type="radio"]:hover {
  background-color: rgba(51, 51, 51, 0.3);
}
.control-label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}
/*textarea */
.textarea {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F2F2F2;
  border: none;
}
/* form-feedback__button*/
.form-feedback__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px 49px;
  background-color: #81B3D2;
  border: none;
}
@media (min-width: 768px) {
  .form-fieldsets {
    grid-template-columns: 280px 298px;
    row-gap: 48px;
    column-gap: 52px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .fieldset-contacts__list {
    padding-left: 18px;
  }
  .fieldset-impression {
    grid-column: 1/-1;
  }
  .fieldset-impression__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .fieldset-impression__list .control-label {
    width: 234px;
  }
  .fieldset-visited {
    grid-column: 1/-1;
  }
  .fieldset-visited__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 16px;
    padding-left: 84px;
    padding-right: 84px;
  }
  .fieldset-visited__list .control-label {
    width: 178px;
  }
  .textarea-emotions-wrapper {
    grid-column: 1/-1;
  }
  .fieldset__title {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
  .form-feedback__button {
    padding: 16px 71px;
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .form-fieldsets {
    grid-template-columns: 430px 402px;
    row-gap: 56px;
    column-gap: 128px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .fieldset__title {
    margin-bottom: 28px;
  }
  .fieldset-personal-data__list .fieldset__input {
    width: 430px;
  }
  .fieldset-contacts__list .fieldset__input {
    width: 402px;
  }
  .fieldset-impression__list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .fieldset-visited__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 64px;
    padding-left: 44.5px;
    padding-right: 44.5px;
  }
  .form-feedback__button {
    padding: 16px 101px;
    width: 384px;
  }
}
modal-container-error {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-error {
  position: relative;
  width: 320px;
  margin: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-error__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 42px 35px;
}
.modal-error__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.modal-error__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.modal-error__button {
  padding: 18px 64px 14px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .modal-error {
    width: 400px;
  }
  .modal-error__content {
    padding: 50px 46px 48px;
  }
  .modal-error__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
  .modal-error__button {
    padding: 18.5px 108px 13.5px;
  }
}
@media (min-width: 1200px) {
  .modal-error__content {
    padding: 60px 46px 48px;
  }
  .modal-error__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
}
modal-container-submit {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-submit {
  position: relative;
  width: 320px;
  margin: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
/*.modal-submit__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
.modal-submit__text-wrapper {
  padding: 39px 39px 30px 37px;
}
.modal-submit__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 40px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.modal-submit__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 0px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.button-wrapper {
  width: 100%;
  padding: 20px;
  background-color: #F2F2F2;
  box-sizing: border-box;
}
.modal-submit__button {
  padding: 18px 62px 14px 60px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .modal-submit {
    width: 640px;
  }
  .modal-submit__text-wrapper {
    padding: 52px 99px 30px 97px;
  }
  .modal-submit__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
  .button-wrapper {
    padding: 44px 91px;
  }
  .modal-submit__button {
    padding: 18.5px 108px 13.5px;
  }
}
@media (min-width: 1200px) {
  .modal-submit__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
}
/*.modal-container-submit--close {
  display: none;
}*/
/*photo.html*/
.main-inner-photo {
  background-color: #ffffff;
}
.inner-header-photo__container {
  height: 158px;
  width: 100%;
  position: relative;
  padding-bottom: 67px;
  padding-top: 52px;
  background-color: #E6E6FA;
  background-image: url("../img/sedona_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom right;
  background-size: cover, cover;
  box-sizing: border-box;
}
.inner-header-photo__container::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
  content: "";
}
.inner-header-photo__image {
  display: block;
  margin: 0 auto;
}
.inner-header-photo__text-wrapper {
  padding: 38px 20px 62px;
}
.inner-header-photo__title {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.inner-header-photo__intro {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.inner-header-photo__intro br {
  display: none;
}
@media (min-width: 768px) {
  .inner-header-photo__container {
    height: 290px;
    padding-top: 95px;
    padding-bottom: 117.4px;
  }
  .inner-header-photo__text-wrapper {
    padding: 66px 155px 67px;
  }
  .inner-header-photo__title {
    margin: 0px;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
  .inner-header-photo__intro br {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .inner-header-photo__container {
    height: 301px;
    padding-top: 101px;
    padding-bottom: 120.2px;
  }
  .inner-header-photo__text-wrapper {
    padding: 98px 370px 88px 370px;
  }
}
.photo-block {
  padding-left: 20px;
  padding-right: 20px;
}
.photo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 50px;
  box-sizing: border-box;
}
.photo__link {
  text-decoration: none;
}
.photo__image {
  display: block;
}
.photo__text-wrapper {
  padding-top: 15px;
}
.photo__text-container {
  padding-bottom: 17px;
}
.photo__title {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.photo__author {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.photo__like {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .photo-block {
    padding-left: 60px;
    padding-right: 60px;
  }
  .photo__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }
  .photo__item:first-child {
    grid-column: 1/-1;
  }
  .photo__item {
    background-color: #F2F2F2;
  }
  .photo__image {
    width: 100%;
    height: 267px;
  }
  .photo__item:first-child .photo__image {
    height: 400px;
  }
  .photo__text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px 15px;
    box-sizing: border-box;
  }
  .photo__text-container {
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .photo-block {
    padding-left: 0px;
    padding-right: 0px;
  }
  .photo__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo__item {
    position: relative;
  }
  .photo__text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 17px 20px 17px 25px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .photo__title {
    color: #ffffff;
  }
  .photo__author {
    color: #ffffff;
  }
  .photo__like {
    color: #ffffff;
  }
}
.video-block {
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 20px;
}
.video__title {
  margin: 0px;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.video__intro {
  margin: 0px;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.video__container {
  position: relative;
}
.video__button {
  position: absolute;
  top: 62px;
  left: 116px;
  width: 48px;
  height: 54px;
  background-color: transparent;
  background-image: url("../img/video-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  z-index: 2;
}
@media (min-width: 768px) {
  .video-block {
    padding: 58px 60px 40px 60px;
    padding-top: 58px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .video__intro {
    margin-bottom: 66px;
  }
  .video__intro br {
    display: block;
  }
  .video {
    width: 648px;
    height: 500px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .video-block {
    padding: 62px 201px 64px 199px;
  }
  .video {
    width: 800px;
    height: 500px;
  }
}
/*# sourceMappingURL=style.css.map */
